@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Azonix";
    font-weight: normal;
    src: url('/fonts/Azonix.woff2') format("woff2");
  }
}

@layer components {
  .btn {
    @apply inline-block px-7 py-3 rounded-lg font-medium text-sm tracking-wider transition uppercase
    focus:outline-none focus:ring focus:ring-offset-2 focus:ring-opacity-50
    lg:px-5 lg:py-2 lg:tracking-normal
    xl:px-7 xl:py-3 xl:tracking-wider
  }

  .btn-primary {
    @apply bg-brand text-white shadow-lg
    active:bg-brand-dark
    hover:bg-brand-light
    focus:ring-brand-light;
  }

  .btn-secondary {
    @apply bg-cp text-gray-900 shadow-lg
    active:bg-cp-dark
    hover:bg-cp-light
    focus:ring-cp-light;
  }
}