@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Azonix";
    font-weight: normal;
    src: url('/fonts/Azonix.woff2') format("woff2");
  }
}

@layer components {
  .btn {
    @apply inline-block px-7 py-3 rounded-lg font-medium text-sm tracking-wider transition
    focus:outline-none focus:ring focus:ring-offset-2 focus:ring-opacity-50
    lg:px-5 lg:py-2 lg:tracking-normal
    xl:px-7 xl:py-3 xl:tracking-wider
  }

  .btn-primary {
    @apply bg-indigo-500 text-white shadow-lg
    active:bg-indigo-600
    hover:bg-indigo-400
    focus:ring-indigo-400;
  }
}